body {
  font-family: 'Poppins', sans-serif;
}
.container-fluid {
    height: 576px;
    background-color: #F0FFF0;
}

/*========= Navbar ========*/

nav {
  padding: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
nav img{
  
  width: 198.07px;
  height: 59px;
}
.navbar-nav li{
  margin-right: 20px;
}
.navbar-nav li button {
  border-radius: 33px;
  padding: 12px, 28px, 12px, 28px;
  background-color: #21B573;
  border: none;

}
.navbar-nav li button:hover {
  background-color: #21b572b0;
}

/*========= Navbar End ========*/
